<h1>Bonjour {{ nom }} {{ prenom }} ! veuillez confirmer le mail.</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer le mail </a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
